<h2>Login</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      type="text"
      placeholder="Username"
      formControlName="username"
      autocomplete="username"
      matInput
    />
  </mat-form-field>

  <div class="error-msg" [hidden]="username.valid || username.untouched">
    <p>The following problems have been found with the username:</p>
    <p [hidden]="!username.hasError('minlength')">
      Username can not be shorter than 3 characters.
    </p>
    <p [hidden]="!username.hasError('required')">Username is required.</p>
  </div>
  
  <mat-form-field>
    <input
      type="password"
      placeholder="Password"
      formControlName="password"
      autocomplete="current-password"
      matInput
    />
  </mat-form-field>

  <div class="error-msg" [hidden]="password.valid || password.untouched">
    <div>The following problems have been found with the password:</div>

    <div [hidden]="!password.hasError('required')">
      The password is required.
    </div>
    <div [hidden]="!password.hasError('pattern')">
      Please match the requested format (at least 8 characters long, min 1
      uppercase letter, 1 digit and 1 special character)
    </div>
  </div>

  <div>
    <button mat-raised-button type="submit">Sign In</button>
  </div>
</form>
