:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-msg {
  font-size: 0.8rem;
  color: #a72a2a;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

