@use "@angular/material" as mat;
@use "./../../../styles.scss" as styles;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input::placeholder {
  font-size: 0.8rem;
}

mat-hint {
  text-align: center;
  font-size: 0.6rem;
  line-height: 1;
}

mat-label {
  margin-top: 1.7rem;
}

.select {
  margin-top: 30px;
}

mat-option {
  padding-inline: 2rem;
}

button {
  padding: 10px;
  min-width: 100px;
}

.error-msg {
  font-size: 0.8rem;
  color: var(--mdc-filled-text-field-error-label-text-color);
  font-weight: 500;
  line-height: 1;
  text-align: center;
  margin-bottom: 5px;
}

.res-msg {
  color: mat.get-theme-color(styles.$theme, primary, 50);
  text-align: center;
  margin-top: 50px;
  font-size: 1.7rem;
}
