@use "@angular/material" as mat;
@use "./../styles.scss" as styles;

.header {
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.auth-links {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  font-weight: 500;
}

.app-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  list-style: none;
  font-size: 1rem;

  & li a {
    padding: 10px;

    &:hover {
      color: mat.get-theme-color(styles.$theme, primary, 40);
    }
  }
}

.current-user {
  font-size: 1.2rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;

  & h3 {
    margin-bottom: 0;
    font-size: inherit;
  }
}

.main {
  padding: 20px;
}
